/* menu.css */
.menu-container {
  display: flex;
  padding: 5vw;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  transition: 0.5s;
}
.menu-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.menu-item img {
  width: 200px; /* Set a fixed width */
  height: 150px; /* Set a fixed height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.menu-item h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.menu-item p {
  font-size: 1.2rem;
}
